body {
  background: #0c2b4a!important;

  font-family: 'Libre Baskerville', serif!important;
  font-size: 13px!important;
}

.jumbotron {
  background-color: #f5f5f5!important;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.center-text {
  text-align: center!important;
}

.navbar {
  background-color: #f5f5f5!important;
}

form {
  text-align: center!important;
}

.light-text {
  opacity: 0.8;
}

.white-text {
  color: #f5f5f5!important;
}

.my-jumbo {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.ben {
  border-radius: 4px;
}

li {
  list-style-type: none;
}

.navbar a {
  color: black;
}

.my-table {
  margin-left: 25%;
  margin-right: 25%;
}

.my-td {
  padding: 0px;
}

table td {
  margin: auto;
}

/* .vl {
  border-left: 1px solid black;
  height: 340px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  opacity: 0.7;
} */

.vert-center {
  margin-top: auto;
  margin-bottom: auto;
}

.my-select-boxes {
  text-align: left;
}

.ben1 {
  border-radius: 4px;
  height: 460px;
  width: 355px;
}

.ben2 {
  border-radius: 4px;
  /* height: 360px;
  width: 750px; */
  height: 70%;
  width: 70%;
}

.border-test {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: solid #0c2b4a 2px;
  border-radius: 3px;
}

.ben3 {
  border-radius: 4px;
  max-width:100%;
  height:auto;
}

.quote-carousel .carousel-control-next,
.quote-carousel .carousel-control-prev {
    filter: invert(100%);
}

.quote-text {
  font-size: 14px;
}

.my-logo {
  height: 40%;
  width: 40%;
}
