{% extends "base.html" %}
{% block content %}

<p></p>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
  <!-- <div class="center-text">
    <h6><i>About Benjamin:</i></h6>
    <div class="container">
      <hr style="height:1px;border-width:0;color:gray;background-color:black;opacity:0.7;">
      <img src="static/pics/ben4.PNG" alt="" class="img-fluid ben1">
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="">

          </div>
          <p class="light-text">Benjamin grew up in Wellington, Florida jumpstarting his hospitality career in the Fashion Cuisine Group to open three restaurants over three years, firstly as a server until exiting from the company as a manager. Fine wine and elevated dining during his time as a captain at Table 26 had the biggest impact on Benjamin and lit the fire for his focus towards sommelier studies in the hospitality field. <br><br>
            Since then, Benjamin moved to New York City where he worked with classic French chefs and worldly wine lists, meanwhile he achieved his certified sommelier degree in November 2017. He became immersed, working through the ranks in the renowned French fine dining, Cafe Boulud, by famed Chef Daniel Boulud, for one year before accepting a sommelier position at Restaurant Gabriel Kreuther by Chef Gabriel Kreuther. In Benjamin’s two years as a sommelier and final year as a manager at Restaurant Gabriel Kreuther, the team achieved two-Stars Michelin, Les Grandes Tables du Monde, and the AAA 5 Diamond award, while also being a member of the Relais & Chateaux family!</p>
          <p class="light-text">Benjamin was also recruited by Gurney’s Montauk for the 2018 summer season to oversee and maintain Scarpetta Beach Wine program in Montauk, NY. <br><br>
            Benjamin had plans to spend the summer of 2020 in France working harvest in the vineyards of Burgundy, but due to the COVID-19 pandemic, he took an opportunity to work  at Cain Vineyard and Winery for the 2020 harvest before returning to Wellington to launch Wellington Wine Consulting! He looks forward to bringing his wealth of knowledge and cultural experience from around the world to his client in the South Florida area!</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="border-test">
    <div class="center-text">
      <br>
      <br>
      <br>
      <h6><i>About Benjamin.</i></h6>
      <div class="container">
        <hr style="height:1px;border-width:0;color:gray;background-color:black;opacity:0.7;">
        <br>
        <br>
        <div class="container">
          <div class="container">
            <img src="static/pics/benandvillage1.jpg" alt="" class="img-fluid ben2">
          </div>
          <br>
          <br>
          <p class="light-text">Benjamin’s decision to become a sommelier originated with the idea to encompass each of his core passions: food, travel, people, and nature! Driven by his commitment towards wine and his desire to learn more about the industry, Benjamin has thrived on traveling the world. During his time in New York City, he took trips to explore the renowned wine regions of France and Italy. Through his travels, Benjamin gained valuable firsthand knowledge and expertise of wine and European culture while connecting with winemakers. Wine is the focal point of Benjamin’s aspirations because, let’s face it - without wine, dining and drinking would be far less entertaining!</p>
          <p class="light-text">Benjamin grew up in the equestrian-centered village of Wellington, Florida, immediately jump-starting his career in the hospitality industry through the Fashion Cuisine Group. Over three years, he assisted with the openings of three restaurants, advancing from server until his eventual exit from the company as manager. Benjamin’s time as captain at <a href="https://www.table26palmbeach.com/">Table 26</a> - with its fine wine and elevated dining - allowed for him to focus on a career in the fine dining hospitality field.</p>
          <p class="light-text">Benjamin swiftly moved to New York City, where he had the privilege of working with classic French chefs and world-class wine lists. He achieved his certified sommelier degree in November 2017. One year after working at the renowned <a href="https://www.cafeboulud.com/nyc/">Cafe Boulud</a>, known for its fine French dining, under Chef Daniel Boulud, he accepted a sommelier position from Chef Gabriel Kreuther. During Benjamin’s two years as a sommelier and manager at <a href="https://www.gknyc.com/">Restaurant Gabriel Kreuther</a>, the team achieved two-stars Michelin, Les Grandes Tables du Monde, and the AAA 5 Diamond award. They were also a member of the Relais & Chateaux family. Benjamin was then recruited by <a href="https://www.gurneysresorts.com/montauk/dining/scarpetta-beach">Gurney’s Montauk</a> to oversee and maintain the Scarpetta Beach Wine program in Montauk, New York, for the summer season of 2018.</p>
          <p class="light-text">Benjamin had ambitious plans to spend the summer of 2020 in France working harvest in the vineyards of Burgundy. However, due to the COVID-19 pandemic, he deviated from his plan and instead took an opportunity at <a href="https://www.cainfive.com/">Cain Vineyard</a> and Winery in Napa Valley, California. After the 2020 harvest, he returned to Wellington to launch Wellington Wine Consulting. Benjamin looks forward to bringing his wealth of knowledge and worldwide cultural experiences to his clientele in south Florida!</p>
        </div>

      </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="center-text">
          <div class="light-text">
            <p><i>WellingtonWineConuslting@gmail.com</i></p>
            <p><i>(1) 561-315-2189</i></p>
            <p><i>Wellington, Florida 33449</i></p>
            <p>CopyRight 2020 All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
