{% extends "base.html" %}
{% block content %}

<p></p>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
  <div class="center-text">
    <h3>Thank you {{first_name}} {{last_name}}!</h3>
    <p class="light-text">You will be contacted shortly</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="center-text">
      <div class="light-text">
        <p><i>WellingtonWineConuslting@gmail.com</i></p>
        <p><i>(1) 561-315-2189</i></p>
        <p><i>Wellington, Florida 33449</i></p>
        <p>CopyRight 2020 All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
